HomeChallenge4/mqtt_generator
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7799f47c.2b3924","type":"inject","z":"b5d1af96.0416f8","name":"start","topic":"random","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":220,"wires":[["59ca4e62.5edfb"]]},{"id":"3d9de3f2.aa4b24","type":"function","z":"b5d1af96.0416f8","name":"create_request","func":"var api_key = \"DYKWMHNVJCQS0S8B\";\nvar channel_id = \"1063988\"\n\nmsg.topic = \"channels/\"+channel_id+\"/publish/\"+api_key\n\nfield = \"\";\nif(msg.sensor.source == \"plc\") {\n    field = \"field1=\" + msg.sensor.value;\n} else {\n    field = \"field2=\" + msg.sensor.value;\n}\n\nmsg.payload =  field + \"&status=MQTTPUBLISH\"\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["943664b7.1dd328"]]},{"id":"59ca4e62.5edfb","type":"file in","z":"b5d1af96.0416f8","name":"","filename":"traffic.csv","format":"lines","chunk":false,"sendError":false,"x":260,"y":220,"wires":[["dc904c8e.7d9648"]]},{"id":"dc904c8e.7d9648","type":"function","z":"b5d1af96.0416f8","name":"extract_value","func":"\ntraffLine = msg.payload;\n\nplcDepFilter = [\n        \"department1/section1/plc\",\n        \"department3/section3/plc\"\n    ]\nhvDepFilter = [\n        \"department1/section1/hydraulic_valve\",\n        \"department3/section3/hydraulic_valve\"\n    ]\n\nif (traffLine.includes(\"MQTT\") &&  traffLine.includes(\"Publish\")){\n    plc = getValue(plcDepFilter)\n    hv = getValue(hvDepFilter)\n    if(plc){\n        return {sensor:{source: \"plc\", value: plc}};\n    } else if(hv){\n        return {sensor:{source: \"hv\", value: hv}};\n    } else {\n        //NOOP\n    }\n} else {\n    // NOOP\n}\n\nfunction getValue(depFilter){\n    if ( \n        traffLine.includes(depFilter[0]) || \n        traffLine.includes(depFilter[1])\n        ){\n            var content = traffLine.split(\" \");\n            var hex = content[content.length - 1].split(',')[0]\n            var str = '';\n    \t    for (var n = 0; n < hex.length; n += 2) {\n        \t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n    \t    }\n    \t    var sensor = JSON.parse(str);\n            return sensor.value;\n        } else {\n            //NOOP\n        }\n}\n\n\n","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["3d9de3f2.aa4b24"]]},{"id":"f0a60c89.e80a88","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":790,"y":340,"wires":[]},{"id":"943664b7.1dd328","type":"switch","z":"b5d1af96.0416f8","name":"","property":"sensor.source","propertyType":"msg","rules":[{"t":"eq","v":"plc","vt":"str"},{"t":"eq","v":"hv","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":420,"wires":[["33f099e2.86e3e6"],["647d66c6.a6ae28"]]},{"id":"ba9bad1b.b3993","type":"debug","z":"b5d1af96.0416f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":460,"wires":[]},{"id":"33f099e2.86e3e6","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":380,"wires":[["f0a60c89.e80a88","2b180740.6dbb5"]]},{"id":"647d66c6.a6ae28","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":460,"wires":[["ba9bad1b.b3993"]]},{"id":"2b180740.6dbb5","type":"mqtt out","z":"b5d1af96.0416f8","name":"","topic":"","qos":"1","retain":"","broker":"57ff0ac5.07e72c","x":790,"y":380,"wires":[]},{"id":"57ff0ac5.07e72c","type":"mqtt-broker","z":"","name":"thigspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
