HomeChallenge4/mqtt_generator.json
[
  {
    "id": "ef0cf308.7c3d7",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e4ce69dd.efe6c8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "136d51e6.7b9706",
    "type": "mqtt-broker",
    "z": "",
    "name": "polimi@thigspeak",
    "broker": "mqtt.thingspeak.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "3685b435.a1be0c",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": true,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "1e36466b.33280a",
    "type": "inject",
    "z": "e4ce69dd.efe6c8",
    "name": "start",
    "topic": "random",
    "payload": "",
    "payloadType": "num",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "",
    "x": 110,
    "y": 220,
    "wires": [["af06080f.d45818"]]
  },
  {
    "id": "99edd4.f06dd23",
    "type": "function",
    "z": "e4ce69dd.efe6c8",
    "name": "create_request",
    "func": "var api_key = \"DYKWMHNVJCQS0S8B\";\nvar channel_id = \"1063988\"\n\nfield = 0;\n\nif(msg.sensor.source == \"plc\") {\n    field = 1;\n} else if(msg.sensor.source == \"hv\"){\n    field = 2;\n}\n\nmsg.topic = \"channels/\"+channel_id+\"/publish/fields/field\"+field+\"/\"+api_key;\n\nmsg.payload =  msg.sensor.value;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 260,
    "y": 340,
    "wires": [["cbe2fa46.e8cb98"]]
  },
  {
    "id": "af06080f.d45818",
    "type": "file in",
    "z": "e4ce69dd.efe6c8",
    "name": "",
    "filename": "traffic.csv",
    "format": "lines",
    "chunk": false,
    "sendError": false,
    "x": 260,
    "y": 220,
    "wires": [["a5298251.1bc7b"]]
  },
  {
    "id": "a5298251.1bc7b",
    "type": "function",
    "z": "e4ce69dd.efe6c8",
    "name": "extract_value",
    "func": "\ntraffLine = msg.payload;\n\nplcDepFilter = [\n        \"department1/section1/plc\",\n        \"department3/section3/plc\"\n    ]\nhvDepFilter = [\n        \"department1/section1/hydraulic_valve\",\n        \"department3/section3/hydraulic_valve\"\n    ]\n\nif (traffLine.includes(\"MQTT\") &&  traffLine.includes(\"Publish\")){\n    plc = getValue(plcDepFilter)\n    hv = getValue(hvDepFilter)\n    if(plc){\n        return {sensor:{source: \"plc\", value: plc}};\n    } else if(hv){\n        return {sensor:{source: \"hv\", value: hv}};\n    } else {\n        //NOOP\n    }\n} else {\n    // NOOP\n}\n\nfunction getValue(depFilter){\n    if ( \n        traffLine.includes(depFilter[0]) || \n        traffLine.includes(depFilter[1])\n        ){\n            var content = traffLine.split(\" \");\n            var hex = content[content.length - 1].split(',')[0]\n            var str = '';\n    \t    for (var n = 0; n < hex.length; n += 2) {\n        \t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n    \t    }\n    \t    var sensor = JSON.parse(str);\n            return sensor.value;\n        } else {\n            //NOOP\n        }\n}\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 260,
    "y": 280,
    "wires": [["99edd4.f06dd23"]]
  },
  {
    "id": "1f37f9df.31489e",
    "type": "debug",
    "z": "e4ce69dd.efe6c8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "x": 870,
    "y": 420,
    "wires": []
  },
  {
    "id": "cbe2fa46.e8cb98",
    "type": "switch",
    "z": "e4ce69dd.efe6c8",
    "name": "",
    "property": "sensor.source",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "plc", "vt": "str" },
      { "t": "eq", "v": "hv", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 250,
    "y": 420,
    "wires": [["71e5f5a1.ebbd34"], ["37abcc24.6c9d44"]]
  },
  {
    "id": "99f9a13d.a4adf",
    "type": "debug",
    "z": "e4ce69dd.efe6c8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 710,
    "y": 540,
    "wires": []
  },
  {
    "id": "71e5f5a1.ebbd34",
    "type": "delay",
    "z": "e4ce69dd.efe6c8",
    "name": "",
    "pauseType": "rate",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 520,
    "y": 360,
    "wires": [["7f7a115a.3943f"]]
  },
  {
    "id": "37abcc24.6c9d44",
    "type": "delay",
    "z": "e4ce69dd.efe6c8",
    "name": "",
    "pauseType": "rate",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 520,
    "y": 480,
    "wires": [["99f9a13d.a4adf", "bfdbe110.40389"]]
  },
  {
    "id": "d3c8a64b.f1de28",
    "type": "mqtt out",
    "z": "e4ce69dd.efe6c8",
    "name": "TS",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "136d51e6.7b9706",
    "x": 870,
    "y": 360,
    "wires": []
  },
  {
    "id": "7f7a115a.3943f",
    "type": "delay",
    "z": "e4ce69dd.efe6c8",
    "name": "",
    "pauseType": "delay",
    "timeout": "15",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 700,
    "y": 360,
    "wires": [["1f37f9df.31489e", "d3c8a64b.f1de28"]]
  },
  {
    "id": "bfdbe110.40389",
    "type": "mqtt out",
    "z": "e4ce69dd.efe6c8",
    "name": "TS",
    "topic": "",
    "qos": "",
    "retain": "",
    "broker": "136d51e6.7b9706",
    "x": 710,
    "y": 480,
    "wires": []
  }
]
