HomeChallenge4/mqtt_generator
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7799f47c.2b3924","type":"inject","z":"b5d1af96.0416f8","name":"start","topic":"random","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":220,"wires":[["59ca4e62.5edfb"]]},{"id":"212f9317.2e5d24","type":"debug","z":"b5d1af96.0416f8","name":"","active":false,"console":"false","complete":"true","x":650,"y":80,"wires":[]},{"id":"3d9de3f2.aa4b24","type":"function","z":"b5d1af96.0416f8","name":"create_data","func":"var api_key = \"LS6GQ5O5WWAD2FPY\";\nvar data = Math.random()*10;\n\nmsg.url =  \"https://api.thingspeak.com/update?api_key=\"+api_key + \"&field1=\" + data;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["c1c88ab7.37eab8"]]},{"id":"c1c88ab7.37eab8","type":"http request","z":"b5d1af96.0416f8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":470,"y":80,"wires":[["212f9317.2e5d24"]]},{"id":"59ca4e62.5edfb","type":"file in","z":"b5d1af96.0416f8","name":"","filename":"traffic.csv","format":"lines","chunk":false,"sendError":false,"x":260,"y":220,"wires":[["dc904c8e.7d9648"]]},{"id":"dc904c8e.7d9648","type":"function","z":"b5d1af96.0416f8","name":"extract_value","func":"\ntraffLine = msg.payload;\n\nplcDepFilter = [\n        \"department1/section1/plc\",\n        \"department3/section3/plc\"\n    ]\nhvDepFilter = [\n        \"department1/section1/hydraulic_valve\",\n        \"department3/section3/hydraulic_valve\"\n    ]\n\nif (traffLine.includes(\"MQTT\") &&  traffLine.includes(\"Publish\")){\n    plc = getValue(plcDepFilter)\n    hv = getValue(hvDepFilter)\n    if(plc){\n        return {sensor:{source: \"plc\", value: plc}};\n    } else if(hv){\n        return {sensor:{source: \"hv\", value: hv}};\n    } else {\n        //NOOP\n    }\n} else {\n    // NOOP\n}\n\nfunction getValue(depFilter){\n    if ( \n        traffLine.includes(depFilter[0]) || \n        traffLine.includes(depFilter[1])\n        ){\n            var content = traffLine.split(\" \");\n            var hex = content[content.length - 1].split(',')[0]\n            var str = '';\n    \t    for (var n = 0; n < hex.length; n += 2) {\n        \t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n    \t    }\n    \t    var sensor = JSON.parse(str);\n            return sensor.value;\n        } else {\n            //NOOP\n        }\n}\n\n\n","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["33f099e2.86e3e6"]]},{"id":"f0a60c89.e80a88","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":710,"y":220,"wires":[]},{"id":"943664b7.1dd328","type":"switch","z":"b5d1af96.0416f8","name":"","property":"sensor.source","propertyType":"msg","rules":[{"t":"eq","v":"plc","vt":"str"},{"t":"eq","v":"hv","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":280,"wires":[["f0a60c89.e80a88"],["ba9bad1b.b3993"]]},{"id":"ba9bad1b.b3993","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":320,"wires":[]},{"id":"33f099e2.86e3e6","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":280,"wires":[["943664b7.1dd328"]]}]
