HomeChallenge4/mqtt_generator
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7799f47c.2b3924","type":"inject","z":"b5d1af96.0416f8","name":"start","topic":"random","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":110,"y":220,"wires":[["59ca4e62.5edfb"]]},{"id":"212f9317.2e5d24","type":"debug","z":"b5d1af96.0416f8","name":"","active":false,"console":"false","complete":"true","x":650,"y":80,"wires":[]},{"id":"3d9de3f2.aa4b24","type":"function","z":"b5d1af96.0416f8","name":"create_data","func":"var api_key = \"LS6GQ5O5WWAD2FPY\";\nvar data = Math.random()*10;\n\nmsg.url =  \"https://api.thingspeak.com/update?api_key=\"+api_key + \"&field1=\" + data;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["c1c88ab7.37eab8"]]},{"id":"c1c88ab7.37eab8","type":"http request","z":"b5d1af96.0416f8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":470,"y":80,"wires":[["212f9317.2e5d24"]]},{"id":"59ca4e62.5edfb","type":"file in","z":"b5d1af96.0416f8","name":"","filename":"traffic.csv","format":"utf8","chunk":false,"sendError":false,"x":260,"y":220,"wires":[["dc904c8e.7d9648"]]},{"id":"9c8d12f7.66649","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":220,"wires":[]},{"id":"dc904c8e.7d9648","type":"function","z":"b5d1af96.0416f8","name":"split","func":"lines = msg.payload.split(/\\r?\\n/)\nmqtt_lines = lines.filter(function(line){return line.includes(\"MQTT\")})\nplc_d1s1 = mqtt_lines.filter(function(line){return line.includes(\"department1/section1/plc\")})\nplc_d3s3 = mqtt_lines.filter(function(line){return line.includes(\"department3/section3/plc\")})\n\nhv_d1s1 = mqtt_lines.filter(function(line){return line.includes(\"department1/section1/hydraulic_valve\")})\nhv_d3s3 = mqtt_lines.filter(function(line){return line.includes(\"department3/section3/hydraulic_valve\")})\n\n\nreturn {plc:{d1: plc_d1s1, d3: plc_d3s3},hv:{d1: hv_d1s1, d3: hv_d3s3}};","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["9c8d12f7.66649"]]}]
