HomeChallenge4/nodered.json
[{"id":"38cfe746.860e7","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"33069621.2d21d2","type":"file in","z":"38cfe746.860e7","name":"","filename":"/home/traffic.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":180,"y":120,"wires":[["c20105fe.1de72"]]},{"id":"35dd150f.2d86da","type":"inject","z":"38cfe746.860e7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":60,"wires":[["33069621.2d21d2"]]},{"id":"da971c2c.4a38d","type":"switch","z":"38cfe746.860e7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/plc","vt":"str"},{"t":"cont","v":"factory/department3/section3/plc","vt":"str"},{"t":"cont","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"cont","v":"factory/department3/section3/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":160,"wires":[["c4cec2d.72493c"],["c4cec2d.72493c"],["d1f73cb7.10138"],["d1f73cb7.10138"]]},{"id":"c20105fe.1de72","type":"switch","z":"38cfe746.860e7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Publish","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":180,"wires":[["da971c2c.4a38d"]]},{"id":"c4cec2d.72493c","type":"csv","z":"38cfe746.860e7","name":"","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":190,"y":240,"wires":[["f935f7db.98ec5"]]},{"id":"f935f7db.98ec5","type":"function","z":"38cfe746.860e7","name":"hex->string","func":"last = msg.payload[Object.keys(msg.payload)[Object.keys(msg.payload).length-1]];\nvar buf=Buffer.from(last, 'hex');\n    cir= buf.toString('utf8');\nmsg.payload=cir;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["62f9b730.80f84"]]},{"id":"62f9b730.80f84","type":"json","z":"38cfe746.860e7","name":"","property":"payload","action":"","pretty":false,"x":190,"y":300,"wires":[["88dea57e.7edb98"]]},{"id":"88dea57e.7edb98","type":"function","z":"38cfe746.860e7","name":"Create Request","func":"var api_key = \"OTF2BILPP5UZNUXZ\"\nvar channel_id = \"1063895\"\n\nmsg.payload=msg.payload.value;\n\n\nmsg.topic = \"channels/\"+channel_id+\"/publish/fields/field1/\"+api_key;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["6d040ec5.f5d59"]]},{"id":"4705410b.7db828","type":"debug","z":"38cfe746.860e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":260,"wires":[]},{"id":"d1f73cb7.10138","type":"csv","z":"38cfe746.860e7","name":"","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":610,"y":120,"wires":[["10ad750.0b0c98b"]]},{"id":"10ad750.0b0c98b","type":"function","z":"38cfe746.860e7","name":"hex->string","func":"last = msg.payload[Object.keys(msg.payload)[Object.keys(msg.payload).length-1]];\nvar buf=Buffer.from(last, 'hex');\n    cir= buf.toString('utf8');\nmsg.payload=cir;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":120,"wires":[["8a7ce8b6.f52aa8"]]},{"id":"8a7ce8b6.f52aa8","type":"json","z":"38cfe746.860e7","name":"","property":"payload","action":"","pretty":false,"x":610,"y":180,"wires":[["9d97aadb.b7fc6"]]},{"id":"9d97aadb.b7fc6","type":"function","z":"38cfe746.860e7","name":"Create Request","func":"var api_key = \"OTF2BILPP5UZNUXZ\"\nvar channel_id = \"1063895\"\n\nmsg.payload=msg.payload.value;\n\n\nmsg.topic = \"channels/\"+channel_id+\"/publish/fields/field2/\"+api_key;\n\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":180,"wires":[["6d040ec5.f5d59"]]},{"id":"787a7144.bf446","type":"mqtt out","z":"38cfe746.860e7","name":"MQTT sender","topic":"","qos":"","retain":"","broker":"3f092e.581db6d2","x":700,"y":400,"wires":[]},{"id":"6d040ec5.f5d59","type":"delay","z":"38cfe746.860e7","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":280,"wires":[["4705410b.7db828","787a7144.bf446"]]},{"id":"3f092e.581db6d2","type":"mqtt-broker","z":"","name":"polimi@thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
