HomeChallenge4/nodered.json
[{"id":"38cfe746.860e7","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"33069621.2d21d2","type":"file in","z":"38cfe746.860e7","name":"","filename":"/home/traffic.csv","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":180,"y":120,"wires":[["c20105fe.1de72"]]},{"id":"35dd150f.2d86da","type":"inject","z":"38cfe746.860e7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":60,"wires":[["33069621.2d21d2"]]},{"id":"da971c2c.4a38d","type":"switch","z":"38cfe746.860e7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/plc","vt":"str"},{"t":"cont","v":"factory/department3/section3/plc","vt":"str"},{"t":"cont","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"cont","v":"factory/department3/section3/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":180,"wires":[["28f5b7aa.814cd"],["28f5b7aa.814cd"],["d3d5fc0a.f35b48"],["d3d5fc0a.f35b48"]]},{"id":"c20105fe.1de72","type":"switch","z":"38cfe746.860e7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Publish","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":180,"wires":[["da971c2c.4a38d"]]},{"id":"c4cec2d.72493c","type":"csv","z":"38cfe746.860e7","name":"","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":390,"y":240,"wires":[["f935f7db.98ec5","ac83733a.f7d5e"]]},{"id":"f935f7db.98ec5","type":"function","z":"38cfe746.860e7","name":"hex->string","func":"last = msg.payload[Object.keys(msg.payload)[Object.keys(msg.payload).length-1]];\nvar buf=Buffer.from(last, 'hex');\n    cir= buf.toString('utf8');\nmsg.payload=cir;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["62f9b730.80f84"]]},{"id":"28f5b7aa.814cd","type":"split","z":"38cfe746.860e7","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":240,"wires":[["c4cec2d.72493c"]]},{"id":"62f9b730.80f84","type":"json","z":"38cfe746.860e7","name":"","property":"payload","action":"","pretty":false,"x":390,"y":300,"wires":[["88dea57e.7edb98"]]},{"id":"88dea57e.7edb98","type":"function","z":"38cfe746.860e7","name":"Create Request","func":"var api_key = \"OTF2BILPP5UZNUXZ\"\nvar channel_id = \"1063895\"\n\nmsg.payload=msg.payload.value;\n\n\nmsg.topic = \"channels/\"+channel_id+\"/publish/fields/field1/\"+api_key;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":360,"wires":[["6d040ec5.f5d59"]]},{"id":"ac83733a.f7d5e","type":"debug","z":"38cfe746.860e7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":220,"wires":[]},{"id":"4705410b.7db828","type":"debug","z":"38cfe746.860e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":360,"wires":[]},{"id":"d1f73cb7.10138","type":"csv","z":"38cfe746.860e7","name":"","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":890,"y":160,"wires":[["10ad750.0b0c98b","525269e5.623ef"]]},{"id":"10ad750.0b0c98b","type":"function","z":"38cfe746.860e7","name":"hex->string","func":"last = msg.payload[Object.keys(msg.payload)[Object.keys(msg.payload).length-1]];\nvar buf=Buffer.from(last, 'hex');\n    cir= buf.toString('utf8');\nmsg.payload=cir;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["8a7ce8b6.f52aa8"]]},{"id":"d3d5fc0a.f35b48","type":"split","z":"38cfe746.860e7","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":160,"wires":[["d1f73cb7.10138"]]},{"id":"8a7ce8b6.f52aa8","type":"json","z":"38cfe746.860e7","name":"","property":"payload","action":"","pretty":false,"x":890,"y":220,"wires":[["9d97aadb.b7fc6"]]},{"id":"9d97aadb.b7fc6","type":"function","z":"38cfe746.860e7","name":"Create Request","func":"var api_key = \"OTF2BILPP5UZNUXZ\"\nvar channel_id = \"1063895\"\n\nmsg.payload=msg.payload.value;\n\n\nmsg.topic = \"channels/\"+channel_id+\"/publish/fields/field2/\"+api_key;\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["6d040ec5.f5d59"]]},{"id":"787a7144.bf446","type":"mqtt out","z":"38cfe746.860e7","name":"MQTT sender","topic":"","qos":"","retain":"","broker":"3f092e.581db6d2","x":620,"y":440,"wires":[]},{"id":"6d040ec5.f5d59","type":"delay","z":"38cfe746.860e7","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":360,"wires":[["787a7144.bf446","4705410b.7db828"]]},{"id":"525269e5.623ef","type":"debug","z":"38cfe746.860e7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":160,"wires":[]},{"id":"3f092e.581db6d2","type":"mqtt-broker","z":"","name":"polimi@thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
