HomeChallenge5/network.json
[
    {
        "id": "b5d1af96.0416f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ba536c88.71fb1",
        "type": "tcp in",
        "z": "b5d1af96.0416f8",
        "name": "",
        "server": "client",
        "host": "",
        "port": "60001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "",
        "base64": false,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "10b1900f.170548"
            ]
        ]
    },
    {
        "id": "5c5d60b.68c282",
        "type": "debug",
        "z": "b5d1af96.0416f8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "10b1900f.170548",
        "type": "json",
        "z": "b5d1af96.0416f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "bf91302c.2f617"
            ]
        ]
    },
    {
        "id": "e1be7367.3c08f",
        "type": "function",
        "z": "b5d1af96.0416f8",
        "name": "Create Request",
        "func": "var api_key = \"JRTJ1XFDCH7KTZ6Z\"\nvar channel_id = \"1071361\"\nif(msg.payload.topic==2){\n    msg.payload=msg.payload.number;\n    msg.topic = \"channels/\"+channel_id+\"/publish/fields/field1/\"+api_key;\n}\nif(msg.payload.topic==3){\n    msg.payload=msg.payload.number;\n    msg.topic = \"channels/\"+channel_id+\"/publish/fields/field2/\"+api_key;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "debaa16f.98f8e8"
            ]
        ]
    },
    {
        "id": "debaa16f.98f8e8",
        "type": "delay",
        "z": "b5d1af96.0416f8",
        "name": "",
        "pauseType": "rate",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 600,
        "y": 340,
        "wires": [
            [
                "a61c6c95.789d88",
                "5c5d60b.68c282"
            ]
        ]
    },
    {
        "id": "a61c6c95.789d88",
        "type": "mqtt out",
        "z": "b5d1af96.0416f8",
        "name": "MQTT sender",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "1f8dead9.2ae625",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "bf91302c.2f617",
        "type": "switch",
        "z": "b5d1af96.0416f8",
        "name": "",
        "property": "payload.number",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "70",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "e1be7367.3c08f"
            ]
        ]
    },
    {
        "id": "1f8dead9.2ae625",
        "type": "mqtt-broker",
        "z": "",
        "name": "polimi@thingspeak",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
