HomeChallenge5/nodered.json
[{"id":"a31384d2.18bdf8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"74b42580.7e6d0c","type":"tcp in","z":"a31384d2.18bdf8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":150,"y":100,"wires":[["25869a67.f3968e"]]},{"id":"be63e16e.34ec8","type":"debug","z":"a31384d2.18bdf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":220,"wires":[]},{"id":"25869a67.f3968e","type":"function","z":"a31384d2.18bdf8","name":"parse_mote","func":"msg.sensor = JSON.parse(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":100,"wires":[["c503868b.6d86e"]]},{"id":"857af2f2.02b2b8","type":"mqtt out","z":"a31384d2.18bdf8","name":"","topic":"","qos":"","retain":"","broker":"57ff0ac5.07e72c","x":590,"y":280,"wires":[]},{"id":"92d33836.2f4f1","type":"function","z":"a31384d2.18bdf8","name":"create_request","func":"var api_key = \"DYKWMHNVJCQS0S8B\";\nvar channel_id = \"1063988\"\n\nmsg.topic = \"channels/\"+channel_id+\"/publish/\"+api_key\n\nfield = \"\";\nif(msg.sensor.moteId == 2) {\n    field = \"field1=\" + msg.sensor.value;\n} else {\n    field = \"field2=\" + msg.sensor.value;\n}\n\nmsg.payload =  field + \"&status=MQTTPUBLISH\"\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["9d30a51f.81679","be63e16e.34ec8"]]},{"id":"9d30a51f.81679","type":"delay","z":"a31384d2.18bdf8","name":"","pauseType":"rate","timeout":"2","timeoutUnits":"seconds","rate":"3","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":280,"wires":[["857af2f2.02b2b8"]]},{"id":"c503868b.6d86e","type":"switch","z":"a31384d2.18bdf8","name":"","property":"sensor.value","propertyType":"msg","rules":[{"t":"lte","v":"70","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":160,"wires":[["92d33836.2f4f1"]]},{"id":"57ff0ac5.07e72c","type":"mqtt-broker","z":"","name":"polimi@thigspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
