FinalProject/nodered.json
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d12f1837.c38348","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":80,"wires":[["622a736a.d5d92c"]]},{"id":"10881030.fc4528","type":"ifttt out","z":"b5d1af96.0416f8","eventName":"final_project","key":"777bd92f.1853b8","x":210,"y":20,"wires":[]},{"id":"a0f0a058.d0e8","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":140,"wires":[["bb52244c.9aef48"]]},{"id":"1d03b2f2.93fded","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":200,"wires":[["40fb06e0.cf2f4"]]},{"id":"944bfafb.4f1ee8","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":260,"wires":[["f57a4b00.8681a8"]]},{"id":"3feb9542.906a12","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":130,"y":320,"wires":[["27a86924.5781b6"]]},{"id":"2d5ba4c6.c6f284","type":"http request","z":"b5d1af96.0416f8","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/hDJpnLF36crz46nm9duZVhT8RsiwS5Zpzp3rI5q6cWs","tls":"","x":580,"y":80,"wires":[["88170b5d.ecd908"]]},{"id":"1449b819.db31a","type":"function","z":"b5d1af96.0416f8","name":"Req Params","func":"mote_near=msg.payload.moteId_near;\nmote_src=msg.payload.moteId_src;\nmsg.event = \"final_project\";\nmsg.payload = {\"value1\": \"mote \"+mote_near+\" is near mote \"+mote_src};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":80,"wires":[["2d5ba4c6.c6f284"]]},{"id":"8218e61a.cb5c18","type":"http request","z":"b5d1af96.0416f8","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/hDJpnLF36crz46nm9duZVhT8RsiwS5Zpzp3rI5q6cWs","tls":"","x":580,"y":140,"wires":[["e3eebfcd.def2a"]]},{"id":"e3eebfcd.def2a","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":140,"wires":[]},{"id":"1456c1f9.cf6556","type":"function","z":"b5d1af96.0416f8","name":"Req Params","func":"mote_near=msg.payload.moteId_near;\nmote_src=msg.payload.moteId_src;\nmsg.event = \"final_project\";\nmsg.payload = {\"value1\": \"mote \"+mote_near+\" is near mote \"+mote_src};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["8218e61a.cb5c18"]]},{"id":"52c527f0.6321e8","type":"http request","z":"b5d1af96.0416f8","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/hDJpnLF36crz46nm9duZVhT8RsiwS5Zpzp3rI5q6cWs","tls":"","x":580,"y":200,"wires":[["69fbd7da.5cd308"]]},{"id":"69fbd7da.5cd308","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":200,"wires":[]},{"id":"bec19dd7.e5e26","type":"function","z":"b5d1af96.0416f8","name":"Req Params","func":"mote_near=msg.payload.moteId_near;\nmote_src=msg.payload.moteId_src;\nmsg.event = \"final_project\";\nmsg.payload = {\"value1\": \"mote \"+mote_near+\" is near mote \"+mote_src};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":200,"wires":[["52c527f0.6321e8"]]},{"id":"afb48ff9.1d76f8","type":"http request","z":"b5d1af96.0416f8","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/hDJpnLF36crz46nm9duZVhT8RsiwS5Zpzp3rI5q6cWs","tls":"","x":580,"y":260,"wires":[["80d027c6.335ca8"]]},{"id":"80d027c6.335ca8","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":260,"wires":[]},{"id":"2d46f168.bd756e","type":"function","z":"b5d1af96.0416f8","name":"Req Params","func":"mote_near=msg.payload.moteId_near;\nmote_src=msg.payload.moteId_src;\nmsg.event = \"final_project\";\nmsg.payload = {\"value1\": \"mote \"+mote_near+\" is near mote \"+mote_src};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":260,"wires":[["afb48ff9.1d76f8"]]},{"id":"debf6f5e.091ef","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":320,"wires":[]},{"id":"1c86afb4.1d1b","type":"function","z":"b5d1af96.0416f8","name":"Req Params","func":"mote_near=msg.payload.moteId_near;\nmote_src=msg.payload.moteId_src;\nmsg.event = \"final_project\";\nmsg.payload = {\"value1\": \"mote \"+mote_near+\" is near mote \"+mote_src};\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["f197de1e.0569a8"]]},{"id":"622a736a.d5d92c","type":"json","z":"b5d1af96.0416f8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":80,"wires":[["1449b819.db31a"]]},{"id":"bb52244c.9aef48","type":"json","z":"b5d1af96.0416f8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":140,"wires":[["1456c1f9.cf6556"]]},{"id":"40fb06e0.cf2f4","type":"json","z":"b5d1af96.0416f8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":200,"wires":[["bec19dd7.e5e26"]]},{"id":"f57a4b00.8681a8","type":"json","z":"b5d1af96.0416f8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":260,"wires":[["2d46f168.bd756e"]]},{"id":"27a86924.5781b6","type":"json","z":"b5d1af96.0416f8","name":"","property":"payload","action":"","pretty":false,"x":290,"y":320,"wires":[["1c86afb4.1d1b"]]},{"id":"88170b5d.ecd908","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":80,"wires":[]},{"id":"f197de1e.0569a8","type":"http request","z":"b5d1af96.0416f8","name":"Web Req","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/hDJpnLF36crz46nm9duZVhT8RsiwS5Zpzp3rI5q6cWs","tls":"","x":580,"y":320,"wires":[["debf6f5e.091ef"]]},{"id":"777bd92f.1853b8","type":"ifttt-key","z":""}]
